body{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url("lhon-karwan-lwgjC-cKLJE-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
h1{
	color: rgb(242, 248, 87);
}
#addedtasks{
	display: grid;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 200;
	/* width:90%; */
	background-color:black,
	

}
.tasks{
	/* width:100%; */
	display: grid;
	word-break: keep-all;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	border:solid 2px rgba(193, 197, 88, 0.696);
	padding-top: 5px;
	padding-bottom: 10px;
	align-items: center;
	opacity: 10;
	
	/* padding-left: 20px;
	padding-right: 20px; */
	flex-direction: row;
	justify-content: space-evenly;
}
#btn{
	background-color:#cedc51;
	border: #52f66d;
}
button{
	border-radius: 25px;
	width:130px; 
	height:40px;
}
form{
	font-family: Italic;
   
  color: white;
}
.bod{
	border-radius: 10px;
	color: black;
}

input{
	height: 25px;
}
#blank{
	 color: red;
}